body {
    background-color: rgb(233, 215, 207);
    text-align: center;
    color: rgb(83, 75, 75); /* everything is inside body, so we can set color here for all text inside body */
    margin: 50px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: rgb(167, 1, 78);
}

a:hover {
    text-decoration: underline;
}